<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        {{!-- header element provides additional semantic info about content that appears at the top of the page  --}}
        <header><img src = "/img/logo.png" alt = "Meadowlark Travel Logo"></header>
        {{{body}}}
    </body>
</html>